<div class="task-input">
  <input [(ngModel)]="task.title" type="text" placeholder="Task Name" />
  <input [(ngModel)]="task.description" type="text" placeholder="Task Description" />
  <input [(ngModel)]="task.dueDate" type="date" placeholder="Due Date" />
  <select [(ngModel)]="task.priority">
    <option value="" disabled selected>Priority</option>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>
  <select [(ngModel)]="task.tag">
    <option value="" disabled selected>Category</option>
    <option value="Work">Work</option>
    <option value="Personal">Personal</option>
    <option value="Study">Study</option>
  </select>

  @if (isEditing) {
    <div class="button-row">
      <button class="btn-save" (click)="addTask()">Save Changes</button>
      <button class="btn-cancel" (click)="onCancel()">Cancel</button>
    </div>
  } @else {
    <button (click)="addTask()">Add Task</button>
  }
</div>
